.form-signin {
    max-width: 380px!important;
}

table tbody tr:hover{
    background-color: #a9b6be!important;
}

.col-md-2 {
    width: 10%!important;
}

pre{
    padding-left: 12%!important;
}

.main {
    padding-right: 10px!important;
    padding-left: 10px!important;
}
.col-md-offset-2 {
    margin-left: 10%!important;
}
.col-md-10 {
    width: 90%!important;
}